<div class='container'>
    <div class='py-2'>
        <h1 class='text-center mb-3'>Tạo khóa học mới</h1>
        <form method='POST' action='/courses/store'>
            <div class='mb-3 row'>
                <label for='name' class='col-sm-2 col-form-label'>Tên khóa học</label>
                <div class='col-sm-10'>
                    <input type='text' class='form-control' id='name' name='title' />
                </div>
            </div>
            <div class='mb-3 row'>
                <label for='videoId' class='col-sm-2 col-form-label'>Id video youtube</label>
                <div class='col-sm-10'>
                    <input type='text' class='form-control' id='videoId' name='videoId' />
                </div>
            </div>
            <div class='mb-3 row'>
                <label for='category' class='col-sm-2 col-form-label'>Category</label>
                <div class='col-sm-10'>
                    <input type='text' class='form-control' id='category' name='category' />
                </div>
            </div>
            <div class='mb-3 row'>
                <label for='describe' class='col-sm-2 col-form-label'>Mô tả</label>
                <div class='col-sm-10'>
                    <textarea type='text' class='form-control' id='describe' name='describe' rows='3'></textarea>
                </div>
            </div>
            <div class='text-center'>
                <button type='submit' class='btn btn-primary btn-md w-25'>Tạo</button>
            </div>
        </form>
    </div>
</div>