<div class='container mt-2 bg-secondary bg-gradient'>
    <ul class='nav justify-content-center'>
        <li class='nav-item'>
            <a class='nav-link active' href='#' aria-current='page'>Active link</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='#'>Link</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link disabled' href='#'>Disabled link</a>
        </li>
    </ul>
</div>